.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Search-header {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-right: 16px;
  background-color: #FF742B;
  
}

.Logo-Label {
  display: flex;
  font-size: 18px;
  line-height: 1;
  text-align: left;
  vertical-align: top;
}


.Logo-Image {
  
  height: 48px;
  width: 48px;
  -ms-flex: 1 0 180px;
    flex: 1 0 180px;
    max-width: 180px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center
}

.Search-Bar {
  position: relative;
  display: inline-block;
  top: -50px;
  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
